<div class="container my-4">
  <div class="row">
    <div class="offset-3">
      <div class="offset-3">
        <h1 class="mb-3">About</h1>
      </div>
      <div class="row text-center">
        <p>
          ながのCAKEは全国発送可能なケーキ屋さんです。<br>
          お子様からお年寄りの方までお召上がりいただけるよう、<br>
          様々なバリエーションをご用意しております。<br>
          また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
          ぜひご注文ください。
        </p>
        <%= image_tag 'seikagyoukai_eye.jpg', size: '600x450' %>
      </div>
    </div>
  </div>
</div>
