<div class= "container">
  <div class="row my-3">
    <h4>会員一覧</h4>
  </div>

    <table class="table ">
      <thead class="thead-light">
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
          <tr class="active">
            <td><%= customer.id %></td>
            <td><%= link_to customer.full_name, admin_customer_path(customer.id) %></td>
            <td><%= customer.email %></td>
            <td>
            <% if customer.is_delete %>
              <div class="text-secondary">退会</div>
            <% else %>
              <div class="text-success">有効</div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="offset-md-5 mt-4"><%= paginate @customers %></div>
</div>
