<h3>ジャンル編集</h3>
<%= form_with model: @genre, url: admin_genre_path, local:true do |f| %>
<label>ジャンル名</label>
<span><%= f.text_field :name %></span>
<div class= "action"><%= f.submit '変更を保存' %></div>
<% end %>